.form {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 45px $padd-tab;
  }
}

.form__group {
  @include pad-mar-0;

  position: relative;

  padding: 0 $padd-mob;
  padding-top: 65px;
  padding-bottom: 22px;

  border: none;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 65px;

    border: none;
  }
}

.form__group--impression {
  @media (min-width: $tablet) {
    order: -1;

    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 60px;

    border-right: 1px solid #f2f2f2;
  }
}

.form__group--tel {
  @media (min-width: $tablet) {
    grid-column-start: 1;
    grid-column-end: 3;

    border-top: 1px solid #dbdbdb;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.form__group--name {
  @media (min-width: $tablet) {
    position: relative;

    justify-self: end;
    width: 280px;
    padding-top: 70px;
    padding-bottom: 0;
    margin-bottom: 60px;
  }
}

.form__group--place {
  padding-top: 85px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 80px;
    padding-right: 80px;

    border-top: 1px solid #dbdbdb;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__group--comment {
  @media (min-width: $tablet) {
    grid-column-start: 1;
    grid-column-end: 3;

    border-top: 1px solid #dbdbdb;
  }
}

.form__title {
  position: absolute;
  top: 18px;
  left: 50%;
  width: 100%;

  padding: 0 $padd-mob;

  font-size: 18px;
  font-weight: 700;

  transform: translateX(-50%);

  @media (min-width: $tablet) {
    top: -13px;

    width: 380px;
    background-color: #fff;
  }
}

.form__title--name{
  @media (min-width: $tablet) {
    top: 0;
    left: 0;

    width: auto;
    padding: 0;

    transform: translateX(0);
  }
}

.form__title--impression{
  @media (min-width: $tablet) {
    top: 0;
    left: 0;

    width: auto;
    padding: 0;

    transform: translateX(0);
  }
}
.form__title--place {
  @media (min-width: $tablet) {
    top: -20px;
  }
}
.form__title--comment {

}

.form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  
}

.form__container--tel {
  @media (min-width: $desktop) {
    margin: 0;
  }
}



.form__text {
  width: 100%;
  padding: 17.1px;
  padding-left: 20px;

  font-size: 18px;
  font-weight: 700;

  border: none;
  background-color: #f2f2f2;

  &--name {
    width: 230px;
  }

  &--surname {
    width: 192px;
  }

  &--lastname {
    width: 194px;
  }

  &--tel {
    padding-right: 60px;

    background-image: url("../img/icon-phone.svg"),
                      linear-gradient(to left, #e6e6e6 0%, #e6e6e6 60px, #f2f2f2 60px, #f2f2f2 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: top 50% right 19px, 0 0;

    &:hover {
      background-image: url("../img/icon-phone.svg"),
                        linear-gradient(to left, #e6e6e6 0%, #e6e6e6 60px, #e5e5e5 60px, #e5e5e5 100%);
    }

    &:focus {
      box-shadow: inset 0 0 0 4px #e5e5e5;
      background-image: url("../img/icon-phone.svg"),
                        linear-gradient(to left, #e5e5e5 0%, #e5e5e5 60px, #fff 60px, #fff 100%);
    }
  }

  &--email {
    padding-right: 60px;
    
    background-image: url("../img/icon-mail.svg"),
                      linear-gradient(to left, #e6e6e6 0%, #e6e6e6 60px, #f2f2f2 60px, #f2f2f2 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: top 50% right 21px, 0 0;

    &:hover {
      background-image: url("../img/icon-mail.svg"),
                        linear-gradient(to left, #e6e6e6 0%, #e6e6e6 60px, #e5e5e5 60px, #e5e5e5 100%);
    }

    &:focus {
      box-shadow: inset 0 0 0 4px #e5e5e5;
      background-image: url("../img/icon-mail.svg"),
                        linear-gradient(to left, #e5e5e5 0%, #e5e5e5 60px, #fff 60px, #fff 100%);
    }
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background-color: #fff;
  }
}

.form__text::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.form__text::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.form__label--contact {
  @media (min-width: $tablet) {
    padding-left: 20px;
  }
}

.form__radio {
  position: relative;

  display: block;
  margin-bottom: 14px;
  padding: 14.5px 78px;
  padding-right: 0;

  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  text-align: left;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 55px;
    height: 55px;

    background-color: #f2f2f2;
    border-radius: 50%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    &::before{
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before{
      background-color: #d5d5d5;
    }
  }
}

//реализация переключений на css
.form__toogle:checked + .form__radio {
  &::after {
    content: '';

    position: absolute;
    top: 16.5px;
    left: 16.5px;

    width: 22px;
    height: 22px;

    background-color: $black;
    border-radius: 50%;
  }
}

.form__checkbox {
  position: relative;

  display: block;
  margin-bottom: 25px;
  padding: 14.5px 78px;
  padding-right: 0;

  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  text-align: left;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 55px;
    height: 55px;

    background-color: #f2f2f2;
    border-radius: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    &::before{
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before{
      background-color: #d5d5d5;
    }
  }
}

//реализация переключений на css
.form__flag:checked + .form__checkbox {
  &::after {
    content: '';

    position: absolute;
    top: 16.5px;
    left: 16.5px;

    width: 23px;
    height: 13px;

    border-bottom: 3px solid #231f20;
    border-left: 3px solid #231f20;

    transform: rotate(-45deg);
  }
}

.form__comment {

  width: 100%;
  height: 160px;
  padding: 19px;

  font-size: 18px;
  font-weight: 700;

  border: none;
  background-color: #f2f2f2;

  resize: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background-color: #fff;
  }
}

.form__comment::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.form__comment::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.form__btn {
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;

  @media (min-width: $tablet) {
    width: 100%;
    margin: 0;
    align-self: center;
  }
}

.form__required {
  @include pad-mar-0;

  display: none;
  
  @media (min-width: $tablet) {
    display: block;
    align-self: center;
    justify-self: end;
  }
}