.foto__list {
  @include list-0;

  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px $padd-tab;
    padding-bottom: 0;

    border-top: none;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-top: 70px;
  }
}

.foto__items {
  padding: 22px $padd-mob;
  padding-bottom: 15px;

  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet) {
    padding: 0;

    border-bottom: none;
    background-color: #f2f2f2;

    &:nth-child(2n+3) {
      background-color: #eaeaea;
    }
  }
  
  @media (min-width: $desktop) {
    position: relative;

    background-color: transparent;
  }
}

.foto__items--first {
  @media (min-width: $tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.foto__link {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.foto__picture {
  display: block;
}

.foto__img {
  display: block;
}

.foto__container {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: auto 100px;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    background-color: rgba(0,0,0,.3);
  }
}

.foto__title {
  @include pad-mar-0;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  @media (min-width: $tablet) {
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    color: #fff;
  }
}

.foto__author {
  display: block;
  margin-bottom: 10px;

  line-height: 24px;
  text-transform: none;
  text-align: left;

  @media (min-width: $tablet) {
    padding: 0 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    color: #fff;
  }
}

.foto__like {
  display: block;
  padding-left: 37px;

  font-weight: 700;
  line-height: 24px;
  text-align: left;

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 22px 20px;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
  }

  @media (min-width: $desktop) {
    color: #fff;

    background-image: url("../img/icon-like-white.svg");
  }
}