.hotel{
  padding: 20px $padd-mob;
  padding-bottom: 50px;

  @media (min-width: $tablet) {
    padding: 0;
    padding-top: 52px;
    padding-bottom: 60px;
  }
}

.hotel__title {
  display: block;
  margin-bottom: 16px;

  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
  }
}

.hotel__text {
  @include pad-mar-0;
  margin-bottom: 37px;

  line-height: 24px;

  @media (min-width: $tablet) {
    padding: 0 150px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop) {
    padding: 0 380px;
  }
}

.hotel__btn {
  @media (min-width: $tablet) {
    width: 460px;
    margin: 0 auto;
  } 
}