.page-footer{
  padding: 30px $padd-mob;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
}

.page-footer__hashtag {
  @include pad-mar-0;
  margin-bottom: 35px;

  font-size: 21px;
  font-weight: 700;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.page-footer__social{
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.page-footer__list {
  @include list-0;
}

.page-footer_items{
  display: inline-block;
  margin-right: 6px;

  font-size: 0;
  vertical-align: top;

  &:last-child {
    margin-right: 0px;
  }
}

.page-footer__link {
  position: relative;

  display: block;
  width: 46px;
  height: 48px;

  background-color: $blue;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    & .page-footer__icon{
      opacity: .3;
    }
  }
}

.page-footer__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.page-footer__copyright {
  color: #000;

  &:hover {
    & .page-footer__img{
      fill: $blue;
    }
  }

  &:active {
    & .page-footer__img{
      fill: rgba(0,0,0,.3);
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.page-footer__container {
  @media (min-width: $tablet) {
    display: inline-block;
  }
}

.page-footer__img {
  @media (max-width: $tablet - 0.1px) {
    transform: translateY(40%);
  }
}