.page-main__title {
  @include pad-mar-0;
  padding: 40px $padd-mob + 5px;
  padding-bottom: 25px;

  font-size: 18px;
  font-weight: 700;

  @media (min-width: $tablet) {
    width: 450px;
    margin: 0 auto;
    padding: 50px 0;
    padding-bottom: 28px;

    font-size: 21px;
  }
}

.page-main__title--big {
  @media (min-width: $tablet) {
    padding-top: 73px;
    padding-bottom: 31px;

    font-size: 30px;
  }

  @media (min-width: $desktop) {
    padding-top: 110px;
    padding-bottom: 33px;
  }
}

.page-main__text {
  @include pad-mar-0;

  padding: 0 $padd-mob;
  padding-bottom: 24px;

  line-height: 24px;

  @media (min-width: $tablet) {
    padding: 0 165px;
  }

  @media (min-width: $desktop) {
    padding: 0 360px;
  }
}